Repository GSPune/Inventory-Management-Project, changes with the owners that CODEOWNERS names for each.
All owners: @GSPune, @shubhada10kunde, @SIDDHESH9665, @GANESHAHIRE1201

Changed DB Orders Table Structure
  backend/Inventory/billing/admin.py
  backend/Inventory/billing/migrations/0003_remove_orders_in_date_orders_in_items_bought_and_more.py
  backend/Inventory/billing/models.py
  backend/Inventory/billing/serializers.py
Owners: @GSPune

Added serializers and slightly updated billing md
  backend/Inventory/Inventory/serializers.py
  backend/Inventory/billing/serializers.py
  backend/Markdown_files/Sales Bill Page/Billing.md
Owners: @GSPune, @GANESHAHIRE1201

Added cashier file
  frontend/1/Cashier.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Update Cashier.js
  frontend/1/Cashier.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Update Cashier.js
  frontend/1/Cashier.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Updated Billing.md
  backend/Markdown_files/Sales Bill Page/Billing.md
Owners: @GSPune, @GANESHAHIRE1201

Updated supplier model structure + update/delete cashiers
  backend/Inventory/Inventory/urls.py
  backend/Inventory/Inventory/views.py
  backend/Inventory/suppliers/migrations/0002_supplier_company.py
  backend/Inventory/suppliers/models.py
  backend/Inventory/suppliers/views.py
Owners: @GSPune

modified cashier file
  frontend/1/Cashier.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Partial Update on Billing API + minor change in admin.py
  backend/Inventory/billing/admin.py
  backend/Inventory/billing/views.py
Owners: @GSPune

Minor changes
  frontend/Wireframes/README.md
Owners: @GSPune, @GANESHAHIRE1201

Update Cashier File
  frontend/1/UpdateCashier.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

minor constraint added plus url path updates
  backend/Inventory/Inventory/views.py
  backend/Inventory/customers/urls.py
  backend/Inventory/customers/views.py
  backend/Inventory/suppliers/urls.py
Owners: @GSPune

Logic for creating new model instances of OrderProducts Model
  backend/Inventory/billing/serializers.py
  backend/Inventory/billing/views.py
Owners: @GSPune

Minor update -- Invoice PDF Generation
  backend/Inventory/billing/urls.py
  backend/Inventory/billing/views.py
Owners: @GSPune

cashiers file
  frontend/1/Cashier.js
  frontend/1/UpdateCashier.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Add product form
  frontend/1/ProductForm.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Minor changes
  backend/Inventory/Inventory/views.py
  backend/Inventory/customers/views.py
Owners: @GSPune

adding invoice file
  frontend/1/Invoice.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Adding create bill file
  frontend/1/SalesBill.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Trial Code for pdf generation
  backend/Inventory/billing/views.py
Owners: @GSPune

Create Invoice
  frontend/1/Invoice
Owners: @GSPune

sales bill form
  frontend/1/SalesBill.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Update AddCustomer.jsx
  frontend/2/AddCustomer.jsx
Owners: @GSPune

Add files via upload
  frontend/2/SupplierList.jsx
Owners: @GSPune

Add files via upload
  frontend/2/StockAlert.jsx
Owners: @GSPune

product page
  frontend/1/Inventory.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Table form for invoice
  frontend/1/TableForm.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Minor changes for building the response for billing
  backend/Inventory/billing/views.py
Owners: @GSPune

Updated final response and minor changes in pdf gen
  backend/Inventory/billing/views.py
Owners: @GSPune

updated file
  frontend/1/TableForm.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Testing/learning custom admin actions
  backend/Inventory/products/admin.py
Owners: @GSPune

Minor changes to billing api for json serialization
  backend/Inventory/billing/views.py
Owners: @GSPune

Modified JSON response output (for numbers)
  backend/Inventory/billing/views.py
Owners: @GSPune

Added keys for serializer data
  backend/Inventory/billing/views.py
Owners: @GSPune

env file for storing secret keys
  .gitignore
  backend/Inventory/Inventory/settings.py
Owners: @GSPune

Comments
  backend/Inventory/billing/views.py
Owners: @GSPune

Add files via upload
  frontend/1/Inventory.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Some updates on pdf gen api
  backend/Inventory/billing/views.py
Owners: @GSPune

Added Table and TableStyle
  backend/Inventory/billing/views.py
Owners: @GSPune

Minor repositioning
  backend/Inventory/billing/views.py
Owners: @GSPune

CODEOWNERS:

#pattern
#
#file/directory user

* @GSPune

*.js @shubhada10kunde @SIDDHESH9665 @GSPune 

*.py @GSPune

*.md  @GSPune @GANESHAHIRE1201

/Frontend/ @shubhada10kunde @SIDDHESH9665 @GSPune 
/Backend/ @GSPune
