Repository GSPune/Inventory-Management-Project, changes with the owners that CODEOWNERS names for each.
All owners: @GSPune, @shubhada10kunde, @SIDDHESH9665, @GANESHAHIRE1201

CODEOWNERS:

#pattern
#
#file/directory user

* @GSPune

*.js @shubhada10kunde @SIDDHESH9665 @GSPune 

*.py @GSPune

*.md  @GSPune @GANESHAHIRE1201

/Frontend/ @shubhada10kunde @SIDDHESH9665 @GSPune 
/Backend/ @GSPune

Add files via upload
  frontend/1/Inventory.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Add files via upload
  frontend/1/ProductForm.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Updated sales billing md
  backend/Markdown_files/Sales Bill Page/Billing.md
Owners: @GSPune, @GANESHAHIRE1201

Some minor changes
  backend/Inventory/billing/views.py
  backend/Markdown_files/Sales Bill Page/Billing.md
  backend/requirements.txt
Owners: @GSPune, @GANESHAHIRE1201

New folder
  frontend/1/Register Components/Test.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Added more directories
  frontend/1/Billing Components/Invoice.js
  frontend/1/Dashboard Components/Inventory.js
  frontend/1/Login Components/Cashier.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Create folder
  frontend/1/test
Owners: @GSPune

Add files via upload
  frontend/1/Register Components/Register.js
  frontend/1/Register Components/register.css
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Removed test file
  frontend/1/test
Owners: @GSPune

Delete frontend/1/Register Components/Test.js
  frontend/1/Register Components/Test.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Delete frontend/1/Register Components/Test.js
  frontend/1/Register Components/Test.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Add files via upload
  frontend/1/Login Components/Login.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Add files via upload
  frontend/1/Billing Components/MainDetails.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Add files via upload
  frontend/1/Billing Components/SalesBill.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Add files via upload
  frontend/1/Billing Components/CashierDetails.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune

Add files via upload
  frontend/1/Billing Components/CustomerDetails.js
  frontend/1/Billing Components/Dates.js
  frontend/1/Billing Components/Footer.js
  frontend/1/Billing Components/Header.js
Owners: @shubhada10kunde, @SIDDHESH9665, @GSPune
